body {
  font-family: Verdana, sans-serif;
  font-size: 12pt;
  margin:20px;
  margin-left:25px;
  margin-right:25px;
}

h1 {
  font-size: 18pt;
  margin:0;
  padding:0;
  line-height:65px;
  height:65px;
  vertical-align:middle;
}

h1 img {
  vertical-align:middle;
}

#logo {
  float:right;
}

.images_page {
  margin:0;
  padding:0;
}

.images_page body {
  margin:0;
  padding:0;
}

.images_page img {
  max-width:100%;
}
